.Gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.galleryImage {
    background: #F7F7F7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 25px;
    width: 100%;
}

.boxTitre {
    position: absolute;
    left: 5.88%;
    bottom: 2px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    color: white;
}

.boxKey {
    height: 340px;
    width: 340px;
    position: relative;
    display: flex;
    margin: 40px 30px 30px 30px;
    border-radius: 10px;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*.boxKey:hover {
    background-color: #FF6060;
}*/

.kasa-Body {
    width: 100%;
}

.sectionP {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionP p {
    color: white;
    font-size: 38px;
    display: flex;
    width: 95%;
    height: 220px;
    background-position: center;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-size: cover;
    background-color: #0000004d;
    background-blend-mode: darken;
}


/* RESPONSIVE */



@media (max-width: 799px) {

    .galleryImage a {
        width: 90%;
    }

    .boxKey {
        width: 90%;
    }

}