.dropdown {
    width: 85%;
    font-size: 20px;

    @media(max-width: 600px) and (min-width: 320px) {
        width: 100%;
    }
}

.h2_dropdown {
    font-weight: 500;
    font-size: 21px;

    @media(max-width: 600px) and (min-width: 320px) {
        font-size: 19px;
    }

}

.collapse {
    width: 100%;
    margin: 20px 0;

    &__visible {
        background-color: #ff6060;
        color: #FFFFFF;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        padding: 7px 15px;
        border-radius: 5px;
    }

    &__toggle {
        opacity: 0;
        color: #ff6060;
        background: #F6F6F6;
        border-radius: 5px;
        transition: opacity 0.4s ease-in-out, height 0.4s 0.4s ease-in-out;

        @media(max-width: 600px) and (min-width: 320px) {
            height: auto;
        }


        p {
            margin: 0;
            padding: 22px 15px;
            pointer-events: none;
            font-size: 18px;
            font-weight: 400;
            font-family: 'Montserrat';

            @media(max-width: 600px) and (min-width: 320px) {
                font-size: 16px;
            }

        }
    }
}

.collapse-fiche-container {
    display: flex;
    gap: 25px;
    width: 100%;
    justify-content: space-between;

    @media(max-width: 600px) and (min-width: 320px) {
        display: flex;
        flex-direction: column;
    }

}

.animated {
    opacity: 1;
    transition: height 0.4s ease-in-out, opacity 0.4s 0.4s ease-in-out;
}

.chevron {
    width: 9px;
    transform: rotate(0deg);
    transition: 0.4s 0.4s ease-in-out;


}

.rotated {
    transform: rotate(180deg);
    transition: 0.4s ease-in-out;
}

.about-style {
    width: 100%;
}


.equipList {
    list-style-type: none;
}