#carrousel-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 415px;
    margin: 3% 0;
    overflow: hidden;

    @media(max-width: 600px) and (min-width: 320px) {

        height: 255px;
    }

}

.slider {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border-radius: 10px;
    opacity: 0;
    transition: opacity ease-in-out 0.6s; //petit effet d'apparition progressive de l'image dans le slide
    border-radius: 25px;


    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        mix-blend-mode: normal;
        border-radius: 10px;
    }


    &__number {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        position: relative;
        color: #FFFFFF;
        top: 82%;
    }
}

.active-anim {
    opacity: 1;
}


.rightArrow {
    display: flex;
    position: absolute;
    top: 40%;
    right: 2%;
    width: 46px;
    height: 79px;
    z-index: 10;
    cursor: pointer;

    @media(max-width: 600px) and (min-width: 320px) {
        top: 43%;
        right: 2%;
        width: 20px;
        height: 27px;
    }

}

.leftArrow {
    display: flex;
    position: absolute;
    top: 40%;
    left: 2%;
    width: 46px;
    height: 79px;
    z-index: 10;
    cursor: pointer;

    @media(max-width: 600px) and (min-width: 320px) {
        top: 43%;
        right: 2%;
        width: 20px;
        height: 27px;
    }
}