.avatar-comp {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-end;
    flex-basis: 50%;
}

.avatar-picture {
    // display: flex;
    // margin-left: 10px;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background: #c4c4c4;

}

.avatar-picture img {
    border-radius: 50%;
    height: 64px;
    width: 64px;
}

.picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hostName {
    display: flex;
    text-align: right;
    width: 70px;
    color: #ff6060;
    margin-right: 15px;
    font-weight: 600;
    font-size: 18px;
}