.avatar-comp {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-end;
    flex-basis: 50%;

    @media(max-width: 600px) and (min-width: 300px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        flex-basis: 50%;
        align-items: center;
        margin-bottom: 1rem;
    }

}

.avatar-picture {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background: #c4c4c4;

}

.imgPicture {
    border-radius: 50%;
    width: 70px;
    height: 70px;

    @media(max-width: 800px) and (min-width: 600px) {
        width: 59px;
        height: 59px;
    }

    @media(max-width: 600px) and (min-width: 450px) {
        width: 50px;
        height: 50px;
    }

    @media(max-width: 450px) and (min-width: 300px) {
        width: 47px;
        height: 47px;
    }

}

.avatar-picture img {
    border-radius: 50%;
    height: 64px;
    width: 64px;
}

.picture {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.hostName {
    display: flex;
    text-align: right;
    color: #ff6060;
    font-weight: 600;
    font-size: 18px;

    @media(max-width: 800px) and (min-width: 600px) {
        font-weight: 600;
        font-size: 16px;
    }

    @media(max-width: 600px) and (min-width: 450px) {
        font-weight: 500;
        font-size: 15px;
    }

    @media(max-width: 450px) and (min-width: 300px) {
        font-weight: 500;
        font-size: 13px;
    }
}