.footer {
  background-color: black;
  display: flex;
  margin: 60px auto auto auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.icone_and_text {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 30px 30px;

  @media(max-width: 600px) and (min-width: 320px) {
    gap: 15px;
  }
}

.kasa_footer {
  align-self: center;
}


.text_footer {
  color: white;

  @media(max-width: 600px) and (min-width: 450px) {
    font-size: 14px;
  }

  @media(max-width: 450px) and (min-width: 300px) {
    font-size: 12px;
  }
}