.title_1 {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
}

.title_2 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
}