.title {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;

    @media(max-width: 600px) and (min-width: 450px) {
        font-size: 22px;
    }

    @media(max-width: 450px) and (min-width: 300px) {
        font-size: 18px;
    }
}


.location {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;

    @media(max-width: 600px) and (min-width: 450px) {
        font-size: 16px;
    }

    @media(max-width: 600px) and (min-width: 300px) {
        font-size: 13px;
    }

}

.title_and_location {
    // flex-basis: 50%;
    margin: 0px 0px 3rem 0;

    @media(max-width: 600px) and (min-width: 300px) {
        margin: 0
    }

}

.title_location_avatar {
    display: flex;
    width: 50%;

    @media(max-width: 600px) and (min-width: 300px) {
        width: auto;
    }

}

.container_full_annoncement {
    display: flex;

    @media(max-width: 600px) and (min-width: 300px) {
        flex-direction: column;

    }

}