.avatar-comp {

    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.avatar-picture {
    display: flex;
    margin-left: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #c4c4c4;


}

& img {

    border-radius: 50%;
    object-fit: cover;
}


.avatar-name {

    align-content: flex-end;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    justify-content: center;
    text-align: right;
    width: 80%;
}